Welcome

= form_for @message do |f|
  = f.label :user_phone, 'Phone'
  = f.text_field :user_phone
  %br
  = f.label :content, 'Message'
  = f.text_field :content
  %br
  = f.label :code, 'Secret code'
  = f.text_field :code
  %br
  = f.label :receiver_phone, 'Receiver Phone'
  = f.text_field :receiver_phone
  %br
  = f.submit 'Send message'
